<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-success">
      <h4 class="alert-heading">
        Welcome to DST find a channel or create your own.
      </h4>

      <p>
        Share ideas tips and tricks.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
      <img src="https://media2.giphy.com/media/7ALOsHTCDT5fi/giphy.gif" alt="">
    </div>
  </div>
</div>
